.game_badge_item, .game_badge_item2 {
	background-color: #333535; ! important;
	transition: background-color .10s ease-in;
	-moz-transition: background-color .10s ease-in;
	-webkit-transition: background-color .10s ease-in;
}

.game_badge_item:hover {
	background-color: #1D1F1F !important;
} 

.game_badge_item2:hover {
	background-color: #00A651 ! important;
}

.game_badge_item[width="125"], .game_badge_item2[width="125"] {
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;
	border: 0px none !important;
}
 
.game_badge_item[width="125"] img  {
	border: 2px solid #1D1F1F !important;
}

.game_badge_item2[width="125"] img {
	border: 2px solid #00A651 !important;
}
