/*------FRONT PAGE------*/
.newsTitleBar, .featuredBox, .routineTitleBar {
  	background-color:#333535 !important;
}

.routineTitle {
	padding-left: 5px !important;    
}

.newsTable, .routineTable {
	text-align: justify !important;
}

.breakNewsLine {
	background-color:#222525 !important;
	padding: 5px 10px 5px 10px
}

.featuredDuration {
	background-color:transparent !important;
}
.personalNavLink {
	padding: 0px !important;
}
	
.breakNewsLine {
	-webkit-border-radius: 0px 0px 5px 5px;
	-moz-border-radius: 0px 0px 5px 5px;
	border-radius: 0px 0px 5px 5px;  
}
