/*------GAME------*/

.game_comment {
	border: none !important;
}

.game_comment_header td, .game_comment_text td {
	padding: 0px 5px 0px 5px !important;
}
  
.game_comment_text td, .game_comment_reply {
	background-color:#222525 !important;
}

.game_comment_mod {
	background-color:#333535 !important;
}

.highscoreBoxContainer {
	background-color:#2a353c !important;
}
