/*------GAME------*/

.game_comment {
	border: none !important;
}

.game_comment_header td, .game_comment_text td {
	padding: 0px 5px 0px 5px !important;
}
  
.game_comment_text td, .game_comment_reply {
	background-color:#222525 !important;
}

.game_comment_mod {
	background-color:#333535 !important;
}

.highscoreBoxContainer {
	background-color:#2a353c !important;
}

div[style^="background-color:#CC0000"] {
	background-color:#da3b51 !important;
}

span[style="color:#CC0000;"] {
	color:#da3b51 !important;
}

div[style^="background-color:#00AADD"] {
	background-color:#8eb7c6 !important;
}

span[style="color:#00AADD;"] {
	color:#8eb7c6 !important;
}

.highscoreSelectorBox, .highscoreSelectorBox_NA, .highscoreTypeSelectorBox_ON, .highscoreTypeSelectorBox_OFF {
	border: 0px !important;
}

td[onclick="highscoreShow(2);"] {
	-webkit-border-radius: 0px 0px 0px 5px;
	-moz-border-radius: 0px 0px 0px 5px;
	border-radius: 0px 0px 0px 5px;
}

td[onclick="highscoreShow(3);"] {
	-webkit-border-radius: 0px 0px 5px 0px;
	-moz-border-radius: 0px 0px 5px 0px;
	border-radius: 0px 0px 5px 0px;
}

#highscoreTypeBase {
	-webkit-border-radius: 5px 0px 0px 0px;
	-moz-border-radius: 5px 0px 0px 0px;
	border-radius: 5px 0px 0px 0px; 
}

#highscoreTypeModified {
	-webkit-border-radius: 0px 5px 0px 0px;
	-moz-border-radius: 0px 5px 0px 0px;
	border-radius: 0px 5px 0px 0px; 
}
