/*------BADGES------*/

.game_badge_item, .game_badge_item2 {
	text-align: center ! important;
	border: 2px outset #1D1F1F !important;
	padding-left: 5px;
	background-color: #333535; ! important;
	transition: background-color .10s ease-in;
	-moz-transition: background-color .10s ease-in;
	-webkit-transition: background-color .10s ease-in;
}
.game_badge_item:hover, .game_badge_item2:hover {
    background-color: #1D1F1F !important;
} 
